# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.ruff_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Virtual Environments
venv/
env/
.venv/

# Build & Distribution
build/
dist/
*.spec
_build_/installer_output/
_build_/*.exe

# Application Data
src/data/
*.log
settings.ini

# Binaries
7zr.exe
ffmpeg.exe
ffprobe.exe
libmpv-2.dll
libmpv.version

# Archives
*.zip

# Serena
.serena/
.gemini/

# Documentation
gemini.md
TODO.md
AGENTS.md


