# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# PyCharm
.idea/

# Virtual Environments
venv/
env/
.venv/

# Build artifacts (PyInstaller)
build/
dist/

# Application Data
data/
*.log
settings.ini
gemini.md

# Binaries
ffmpeg.exe
ffprobe.exe
libmpv-2.dll
libmpv.version

# Archives
*.zip

# Serena
.serena/

